@charset "utf-8";
*{
  -webkit-outline:none;
  outline:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	padding: 0;
	margin: 0;
}

body,html {
  margin: 0 auto;
  background: #fff;
  font-family: 'microsoft yaHei', '微软雅黑', arial;
  -webkit-text-size-adjust: 100%;
  
}

.container {
	width: 1080px;
	height: 490px;
	background: url('../images/bg.png') no-repeat center center;
	background-size: cover;
	top: 0;
	z-index: -1;
	overflow: hidden;
}
.left {
	float: left;
	width: 451px; /*453*/
	height: 490px;
}

.right {
	float: left;
	width: 625px; /*627*/
	height: 490px;
}

.marginleft73 {
   margin-left: 73px;
}

.left-top {
    margin-top: 42px;/*53*/
    width: 310px;
    height: 46px;
    font-size: 28px;
    line-height: 1.8;
    background-color: #99c2ff;
    color: #fff;
    padding: 2px 4px;
}
.left-top-arrow {
    border-left: solid 25px #99c2ff;
    border-top: solid 25px rgba(0,0,0,0);
    border-bottom: solid 25px rgba(0,0,0,0);
    margin-left: 391px;
    margin-top: -50px;
}
.left-tip {
	font-style: 16px;
	line-height: 1.6;
	color: #808080;
	width: 320px;
	margin-left: 74px;
}
.left-middle {
	margin-left: 74px;
	margin-top: 0px; 
	width: 275px;
	height: 220px;
/*	height: 100%;
    width: 100%;
    display: block;*/
}
.code-list {
	width: 261px;
	margin-left: 81px;
	margin-bottom: 20xp
}
.code-list img {
	width: 100%;
}

.right-bg {
	margin-top: 41px;/*52*/
	margin-right: 77px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
}
.right-top {
	top: 0;
	margin-right: 77px;
	width: 550px;
	height: 106px;
	/* margin-bottom: 12px; */
}
.right-top img {
	width: 100%;
}
.right-main {
	width: 550px;
	margin-top: 0;
	display: inline-block;
	padding: 12px 0;
	height: 274px;
}
.right-category {
	width: 156px;
	height: 127px;
	display: inline-flex;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
}

.right-category img ,.right-category a{
	width: 100%;
	border: 0;
	outline: none;
}


/*single tpl*/

.main {
	width: 1080px;
	height: 490px;
	background: url('../images/bg.png') no-repeat center center;
	/*background-size: 100% 100%;*/
	background-size: cover; 
	top: 0;
	z-index: -1;
}
.containerlist {
	position: absolute;
	top: 22px;
	margin-left: 131px;
	margin-right: 131px;
	width: 820px;
	height: 430px;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #ddd;
	background-color:#fff; 
}
.title {
	color: #fff;
	font-size: 26px;
	line-height: 2.3;
	height: 60px;
	text-align: center;
}

.category-list {
	width: 818px;
	height: 370px;
	background-color: #fff;
}
.category-list img {
	width: 100%;
}

.hongbao-title {
	position: absolute;
	font-size: 18px;
	color: #e31d2a;
	left: 310px;
	top: 142px;
}
.hongbao-container {
	text-align: center;
	margin-left: 290px;
	margin-right: 290px;
	padding-top: 115px;
	width: 500px;
	height: 260px;
	border-radius: 4px;
	position: relative;
}
.quan {
	width: 125px;
	height: 50px;
	margin-top: -180px;
	margin-left: 310px;
}
.quan img {
	width: 100%;
}
.cleancategory-color {
	background-color: #bccbe8;
}
.cleanprocess-color {
	background-color: #dec5cf;
}
.orderserver-color {
	background-color: #9bdae2;/*#afdadd*/
}
.question-color {
	background-color: #ffdb9a;
}

.scrolly {
	overflow-y: scroll;
}
.question {
	margin-left: 20px;
	margin-top: 20px;
}
.question-title {
	font-size: 14px;
	color: #c0a33e;
	margin-bottom: 2px;
}
.answer {
	font-size: 14px;
	color: #000;
}