* {
	padding: 0;
	margin: 0
}

html {
	font-size: 20px
}


body {
	background: #f0f0f0
}

ul {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0
}
li {
	cursor: pointer;
}
.mainw {
	width: 1070px; /*-10*/
	height: 480px;
	background: url('../images/bg.png') no-repeat center center;
	background-size: 100% 100%;
	top: 0;
	z-index: -1;
	display: inline-block;
}

.containerlistw {
	/*position: absolute;*/
	top: 22px;
	/*margin-left: 131px;*/
	/*margin-right: 131px;*/
	width: 820px;
	height: 430px;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #ddd;
	overflow-y: scroll;
	/*overflow-x:hidden;*/
	background-color: #fff;
	margin: 20px auto;
}

.price-content {
	padding: 3.2%;
	margin-top: 44px;
	z-index:0;
}

.price-list {
	font-size: 0.96rem;
	border-radius: 6px;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	margin-bottom: 3%
}

.price-list th {
	background: #00dbf5;
	color: #fff;
	padding: 0.6rem 0;
	text-align: center;
}

.price-list td {
	background: #fff;
	text-align: center;
	padding: 0.6rem 0;
	box-shadow: 0 0 0 1px #dcdcdc;
	color: #141414
}

.price-list td:first-child {
	width: 56%
}

.price-list td:last-child {
	width: 26%
}

.nav-head:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #dcdcdc
}

.nav-head ul {
	white-space: nowrap;
	transition-property: transform;
	transition-duration: 0ms;
	transform-origin: 0 0 0;
	/*overflow: auto*/
}

.nav-head {
	position: fixed;
	color: #555;
	padding: 0;
	background: #fff; /*#f3d1cc*/
	top: 21px;
	left: 0;
	right: 0;
	width: 796px;
	margin-left: 131px;
	margin-right: 131px;
	z-index: 2;
	border-radius: 8px 0 0 0 ;
}

.nav-head li {
	display: inline-block;
	padding: 10px 11px;
	position: relative;
	vertical-align: middle;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1rem;
	box-sizing: border-box;
}

.selected {
	font-size: 1.08rem !important;
	color: #00dbf5
}

.nav-head li::before {
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	z-index: 2;
	background-color: #00dbf5;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transition: -webkit-transform linear 0.1s;
	transition: transform linear 0.1s
}

.selected::before {
	-webkit-transform: scale3d(1, 1, 1) !important;
	transform: scale3d(1, 1, 1) !important;
	-webkit-transition: -webkit-transform linear 0.3s  !important;
	transition: transform linear 0.3s  !important
}

.price_detail {
	text-align: center;
	font-size: 1rem;
	line-height: 1.65rem;
	color: #9c9c9c
}
